<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Кредитная карта</title>
    <th:block th:insert="parts/common.html :: headerFiles"></th:block>
</head>
<body>
    <div sec:authorize="hasRole('ROLE_CLIENT')">
        <div th:insert="parts/navbar.html :: clientNavbar"></div>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div th:insert="parts/navbar.html :: adminNavbar"></div>
    </div>
    <div class="container-md pt-5" th:object="${creditCard}">
        <p class="fs-4"><strong>Название: </strong><span th:text="*{name}"/></p>
        <p class="fs-4"><strong>Номер: </strong><span th:text="*{number}"/></p>
        <p class="fs-4"><strong>Действительна до: </strong><span th:text="*{validity}"/></p>
        <p class="fs-4"><strong>Номер банковского счета: </strong><span th:text="*{bankAccount.iban}"/></p>
        <p class="fs-4"><strong>Баланс: </strong><span th:text="*{bankAccount.balance} + ' BYN'"/></p>
        <div sec:authorize="hasRole('ROLE_CLIENT')">
            <form th:action="@{/credit_card/{id}(id=${creditCard.id})}" method="post">
                <button th:if="*{status.name() == 'ACTIVE'}" th:name="block" type="submit" class="btn btn-outline-dark">Заблокировать карту</button>
            </form>
            <p th:if="*{status.name() == 'BLOCKED'}" class="fs-4">Ваша карта заблокирована. Для разблокирования обратитесь в службу поддержки.</p>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:action="@{/credit_card/{id}(id=${creditCard.id})}" method="post">
                <button th:if="*{status.name() == 'ACTIVE'}" th:name="block" type="submit" class="btn btn-outline-dark">Заблокировать карту</button>
                <button th:if="*{status.name() == 'BLOCKED'}" th:name="unlock" type="submit" class="btn btn-outline-dark">Разблокировать карту</button>
            </form>
        </div>
    </div>
</body>
</html>