<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Ошибка</title>
    <th:block th:insert="parts/common.html :: headerFiles"></th:block>
</head>
<body>
    <div sec:authorize="hasRole('ROLE_CLIENT')">
        <div th:insert="parts/navbar.html :: clientNavbar"></div>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div th:insert="parts/navbar.html :: adminNavbar"></div>
    </div>
    <div class="container-md pt-5">
        <p class="fs-4"><strong>Ошибка: </strong><span th:text="${exception}"/></p>
    </div>
</body>
</html>