<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <!--  Admin navbar-->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="adminNavbar">
    <div class="container-fluid">
      <span class="navbar-brand">MyPayment</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" />
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin_main}">Главная</a>
          </li>
        </ul>
        <form class="d-flex" th:action="@{/logout}" method="post">
          <button class="btn btn-outline-warning" type="submit">Выход</button>
        </form>
      </div>
    </div>
  </nav>

  <!--  Client navbar-->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="clientNavbar">
    <div class="container-fluid">
      <span class="navbar-brand">MyPayment</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" />
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/main}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/payment}">Переводы</a>
          </li>
        </ul>
        <form class="d-flex" th:action="@{/logout}" method="post">
          <button class="btn btn-outline-warning" type="submit">Выход</button>
        </form>
      </div>
    </div>
  </nav>
</body>
